body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}
p{
    margin: 0;
    padding: 0;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
box-shadow: -2px 10px 13px -14px;
}
form button.btn {
    border-radius: 24px;
    background: #f47f43;
    color: #ffff;
    font-size: 17px;
    padding: 5px 38px;
    font-weight: 600;
}

form button.btn:hover {
    color: #fff;
}

.heading h1 {
    color: #f47f43;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    text-shadow: 1px 0px 2px;
    font-family: ui-monospace;
}
.sc p {
    font-size: 20px;
    font-weight: 900;
    color: #f47f43;
}
span.arrow {
    padding: 2px 4px;
    position: relative;
    background: #f47f43;
    text-align: center;
    color: #f6f0f0;
}

span.arrow.arrow-bottom:after {
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    content: "";
    display: block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #f47f43;
}
p.above {
    margin: 10px;
    padding: 0px;
    text-align: end;
    color: #1a4b7e;
}
.heading p {
    color: #1a4b7e;
    /* text-shadow: 1px 0px 2px; */
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}

.heading {
    margin-top: 43px;
}
table {
    table-layout: fixed;
    word-wrap: break-word;
    margin-top:auto;
    margin-bottom:auto;
}
.text-sm {
    font-size: 12px;
}
.price {
    font-size: 3em;
}
tr.heading th {
    font-size: 18px;
    padding: 10px 0px;
    background: #f47f43;
    border: 1px inset;
    color: #fff;
    text-align: center;
}
span.user {
    color: #1a4b7e;
    font-size: 27px;
    font-weight: 800;
}
tr.secound td {text-align: center;}
span.text {
    color: #f47f43;
    font-weight: 800;
}
td.right {
    text-align: center;
}

td.right svg {
    font-weight: 900;
    font-size: 17px;
    color: #f47f43;
}
tr.footer-1 {
    background: #f47f43;
}
tr.buy-buttons td button {
    border: none;
    background: #1a4b7e;
    color: #fff;
    padding: 7px 40px;
    border-radius: 50px;
    animation: 2s inherit;
    animation: 2s;
}
tr.buy-buttons .free {
    font-weight: 700;
    padding: 7px 77px;
    background: #f47f43;
}
th.health {
    border: 2px solid;
    text-align: center;
    background: #7c5ac2e6;
    color: #fff;
}
th.started {
    border: none;
}

tr.heading .started {
    border: none;
    background: #ffffff;
}
th {
    color: #f47f43;
}
table .table {
     border: none; 
    border-color: #fff;
}
table.table.border-0 tr {
    border: none;
    border-color: #fff;
}
tr.renova {
    background: #e7e9eb69;
}
svg.svg-inline--fa.fa-circle-xmark.paint {
    color: #1a4b7e;
}
button.free:hover {
    background: #1a4b7e;
    transition: 1s;
}
/* faq section */
h1 {
    text-align: center;
    margin: 10px 0;
  }
  .accordion {
    width: 800px;
    margin: 51px auto;
    color: black;
    background-color: white;
    padding: 0px 0px;
}
.accordion {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
}
  .accordion .container {
    position: relative;
    margin: 10px 10px;
  }
  .accordion h1 {
    color: #f47f43;
    font-size: 25px;
    font-weight: 800;
}
.accordion .label {
    position: relative;
    padding: 10px 0px;
    font-size: 16px;
    color: #15477b;
    cursor: pointer;
    font-weight: 700;
}
  
  .accordion .label::before {
    content: '+';
    color: #15477b;
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 30px;
    transform: translateY(-50%);
  }
  
  .accordion .content {
    position: relative;
    background: white;
    height: 0;
    font-size: 14px;
    text-align: justify;
    width: 100%;
    overflow: hidden;
    transition: 0.5s;
}
  
  .accordion hr {
    width: 100;
    margin-left: 0;
    border: 1px solid grey;
  }
  
  .accordion .container.active .content {
    height: 107px;
  }
  
  .accordion .container.active .label::before {
    content: '-';
    font-size: 30px;
  }
  /* demo section start here */
  .demo {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding: 25px 0px;
}
.demo h2 {
    text-align: center;
    color: #0d0c0c;
    font-weight: 700;
}
.demo p {
    color: #0d0c0c;
    text-align: center;
    font-size: 14px;
    padding: 10px 0px;
}
.demo button {
    border: none;
    color: #ffff;
    background: #f47f43;
    padding: 7px 33px;
    border-radius: 25px;
    font-weight: 600;
}
span.support {
    color: #000;
    text-align: center;
    padding-top: 7px;
}
  /* demo section end here */
  /*-----------footer section start here-------*/
button a {
    text-decoration: none;
}
.footer-logo {
    display: flex;
    justify-content: center;
}
.footer-p {
    text-align: center;
}
.footer-2p {
    text-align: center;
}
.ancher {
    text-align: center;
}
.ancher a {
    color: #000;
}
.footer-copy {
    text-align: center;
}
/*----------footer section end here---------*/
@media all and (min-width:320px) and (max-width:768px){
    .table-responsive {
        overflow: scroll;
        height: 100%;
        width: 1500px;
    }
    .sc {
        overflow: scroll;
    }
    .accordion {
        width: 344px;
        margin: 51px auto;
        color: black;
        background-color: white;
        padding: 0px 0px;
    }
}
@media all and (min-width:768px) and (max-width:1024px){
    .table-responsive {
        overflow: scroll;
        height: 100%;
        width: 1500px;
    }
    .sc {
        overflow: scroll;
    }
}